In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.base import clone
import joblib
import pickle
import matplotlib.pyplot as plt
import doubleml as dml
import patsy
import plotly.express as px
from plotly.subplots import make_subplots
from plotly.offline import plot

from statsmodels.tsa.seasonal import seasonal_decompose

In [2]:
dates= pd.date_range('2017-01-01','2021-07-01' , freq='1M')-pd.offsets.MonthBegin(1)
dates=[date_obj.strftime('%Y-%m-%d') for date_obj in dates]

var_quel=["emploi_quelconque_t_plus_3","emploi_quelconque_t_plus_6",  "emploi_quelconque_t_plus_12" ,"emploi_quelconque_t_plus_18" ,"emploi_quelconque_t_plus_24","emploi_quelconque_t_plus_36"]

x_cols=["age", "anciennete","sexe","zone_urbaine","handicap" ]

path="C:/Users/dalil.youcefi/Documents/Formation et retour à l'emploi/Données"

In [3]:
li_poids=[]
for cohorte in dates:
    df=pd.read_parquet(path+"/Prepro/Toutes Form/prepro_data_"+cohorte+".parquet",engine='pyarrow')
    li_poids.append(df.shape[0])

In [4]:


dic_irm={}





dic_irm["cohorte"]=dates



for var in var_quel:
    irm_coef=[]

    irm_upp=[]
    irm_low=[]
  
    irm_std=[]
    
    
    for cohorte in dates:
     
      
        
        dml_irm_obj=joblib.load( path+"/Résultats/Python/IRM/ATT/dml_irm_att_"+cohorte+"_"+var+".joblib")
        irm_coef.append(dml_irm_obj.summary.coef)
        irm_low.append(dml_irm_obj.confint()["2.5 %"])
        irm_upp.append(dml_irm_obj.confint()["97.5 %"])
        irm_std.append(dml_irm_obj.summary["std err"])
        
        
   
    dic_irm["coef_"+var]=irm_coef
    dic_irm["upp_"+var]=irm_upp
    dic_irm["low_"+var]=irm_low
    dic_irm["std_"+var]=irm_std
    
    
 

   
df_irm=pd.DataFrame.from_dict(dic_irm,orient="columns")

In [21]:
dml_irm_obj.summary.coef

entree_formation    0.099528
Name: coef, dtype: float64

In [29]:
df_irm["poids"]=li_poids
dic_avg={}



irm_coef=[]

irm_upp=[]
irm_low=[]

irm_std=[]



def weighted_average(dataframe, value, weight):
    val = dataframe[value]
    wt = dataframe[weight]
    return (val * wt).sum() / wt.sum()
 


dic_avg={}


dic_avg["temps"]=["6","12","18","24"]




var="emploi_quelconque_t_plus_6"
    

period=pd.date_range('2017-01-01','2019-10-01' , freq='1M')-pd.offsets.MonthBegin(1)
period=[date_obj.strftime('%Y-%m-%d') for date_obj in period]
    
irm_coef.append(weighted_average(df_irm[df_irm.cohorte.isin(period)],"coef_"+var,"poids"))
irm_upp.append(weighted_average(df_irm[df_irm.cohorte.isin(period)],"upp_"+var,"poids"))
irm_low.append(weighted_average(df_irm[df_irm.cohorte.isin(period)],"low_"+var,"poids"))
irm_std.append(weighted_average(df_irm[df_irm.cohorte.isin(period)],"std_"+var,"poids"))


var="emploi_quelconque_t_plus_12"
    

period=pd.date_range('2017-01-01','2019-10-01' , freq='1M')-pd.offsets.MonthBegin(1)
period=[date_obj.strftime('%Y-%m-%d') for date_obj in period] 
irm_coef.append(weighted_average(df_irm[df_irm.cohorte.isin(period)],"coef_"+var,"poids"))
irm_upp.append(weighted_average(df_irm[df_irm.cohorte.isin(period)],"upp_"+var,"poids"))
irm_low.append(weighted_average(df_irm[df_irm.cohorte.isin(period)],"low_"+var,"poids"))
irm_std.append(weighted_average(df_irm[df_irm.cohorte.isin(period)],"std_"+var,"poids"))
var="emploi_quelconque_t_plus_18"
    

period=pd.date_range('2017-01-01','2019-04-01' , freq='1M')-pd.offsets.MonthBegin(1)
period=[date_obj.strftime('%Y-%m-%d') for date_obj in period]   
irm_coef.append(weighted_average(df_irm[df_irm.cohorte.isin(period)],"coef_"+var,"poids"))
irm_upp.append(weighted_average(df_irm[df_irm.cohorte.isin(period)],"upp_"+var,"poids"))
irm_low.append(weighted_average(df_irm[df_irm.cohorte.isin(period)],"low_"+var,"poids"))
irm_std.append(weighted_average(df_irm[df_irm.cohorte.isin(period)],"std_"+var,"poids"))
var="emploi_quelconque_t_plus_24"
    

period=pd.date_range('2017-01-01','2019-10-01' , freq='1M')-pd.offsets.MonthBegin(1)
period=[date_obj.strftime('%Y-%m-%d') for date_obj in period]    
irm_coef.append(weighted_average(df_irm[df_irm.cohorte.isin(period)],"coef_"+var,"poids"))
irm_upp.append(weighted_average(df_irm[df_irm.cohorte.isin(period)],"upp_"+var,"poids"))
irm_low.append(weighted_average(df_irm[df_irm.cohorte.isin(period)],"low_"+var,"poids"))
irm_std.append(weighted_average(df_irm[df_irm.cohorte.isin(period)],"std_"+var,"poids"))
    
    


dic_avg["irm_coef"]=irm_coef
dic_avg["irm_upp"]=irm_upp
dic_avg["irm_low"]=irm_low
dic_avg["irm_std"]=irm_std
df_avg=pd.DataFrame.from_dict(dic_avg,orient="columns")

df_avg=df_avg*100

df_avg["temps"]=["6","12","18","24"]

In [18]:
df_irm[df_irm.cohorte.isin(period)]

,cohorte,coef_emploi_quelconque_t_plus_3,upp_emploi_quelconque_t_plus_3,low_emploi_quelconque_t_plus_3,std_emploi_quelconque_t_plus_3,coef_emploi_quelconque_t_plus_6,upp_emploi_quelconque_t_plus_6,low_emploi_quelconque_t_plus_6,std_emploi_quelconque_t_plus_6,coef_emploi_quelconque_t_plus_12,...,std_emploi_quelconque_t_plus_18,coef_emploi_quelconque_t_plus_24,upp_emploi_quelconque_t_plus_24,low_emploi_quelconque_t_plus_24,std_emploi_quelconque_t_plus_24,coef_emploi_quelconque_t_plus_36,upp_emploi_quelconque_t_plus_36,low_emploi_quelconque_t_plus_36,std_emploi_quelconque_t_plus_36,poids
0,2017-01-01,"entree_formation -0.018755 Name: coef, dtype...","entree_formation -0.011425 Name: 97.5 %, dty...","entree_formation -0.026086 Name: 2.5 %, dtyp...","entree_formation 0.00374 Name: std err, dty...","entree_formation 0.028127 Name: coef, dtype...","entree_formation 0.037224 Name: 97.5 %, dty...","entree_formation 0.019029 Name: 2.5 %, dtyp...","entree_formation 0.004642 Name: std err, dt...","entree_formation 0.08481 Name: coef, dtype:...",...,"entree_formation 0.005169 Name: std err, dt...","entree_formation 0.123037 Name: coef, dtype...","entree_formation 0.133024 Name: 97.5 %, dty...","entree_formation 0.113049 Name: 2.5 %, dtyp...","entree_formation 0.005096 Name: std err, dt...","entree_formation 0.125838 Name: coef, dtype...","entree_formation 0.135466 Name: 97.5 %, dty...","entree_formation 0.11621 Name: 2.5 %, dtype...","entree_formation 0.004912 Name: std err, dt...",55671
1,2017-02-01,"entree_formation 0.001502 Name: coef, dtype...","entree_formation 0.006814 Name: 97.5 %, dty...","entree_formation -0.003809 Name: 2.5 %, dtyp...","entree_formation 0.00271 Name: std err, dty...","entree_formation 0.079392 Name: coef, dtype...","entree_formation 0.086042 Name: 97.5 %, dty...","entree_formation 0.072743 Name: 2.5 %, dtyp...","entree_formation 0.003393 Name: std err, dt...","entree_formation 0.119467 Name: coef, dtype...",...,"entree_formation 0.003608 Name: std err, dt...","entree_formation 0.143094 Name: coef, dtype...","entree_formation 0.150012 Name: 97.5 %, dty...","entree_formation 0.136175 Name: 2.5 %, dtyp...","entree_formation 0.00353 Name: std err, dty...","entree_formation 0.140821 Name: coef, dtype...","entree_formation 0.147422 Name: 97.5 %, dty...","entree_formation 0.134221 Name: 2.5 %, dtyp...","entree_formation 0.003368 Name: std err, dt...",69294
2,2017-03-01,"entree_formation 0.006138 Name: coef, dtype...","entree_formation 0.011441 Name: 97.5 %, dty...","entree_formation 0.000835 Name: 2.5 %, dtyp...","entree_formation 0.002706 Name: std err, dt...","entree_formation 0.077655 Name: coef, dtype...","entree_formation 0.084097 Name: 97.5 %, dty...","entree_formation 0.071213 Name: 2.5 %, dtyp...","entree_formation 0.003287 Name: std err, dt...","entree_formation 0.129049 Name: coef, dtype...",...,"entree_formation 0.003514 Name: std err, dt...","entree_formation 0.146663 Name: coef, dtype...","entree_formation 0.153388 Name: 97.5 %, dty...","entree_formation 0.139939 Name: 2.5 %, dtyp...","entree_formation 0.003431 Name: std err, dt...","entree_formation 0.140553 Name: coef, dtype...","entree_formation 0.146995 Name: 97.5 %, dty...","entree_formation 0.134111 Name: 2.5 %, dtyp...","entree_formation 0.003287 Name: std err, dt...",72574
3,2017-04-01,"entree_formation 0.018629 Name: coef, dtype...","entree_formation 0.024415 Name: 97.5 %, dty...","entree_formation 0.012844 Name: 2.5 %, dtyp...","entree_formation 0.002952 Name: std err, dt...","entree_formation 0.082446 Name: coef, dtype...","entree_formation 0.089479 Name: 97.5 %, dty...","entree_formation 0.075413 Name: 2.5 %, dtyp...","entree_formation 0.003588 Name: std err, dt...","entree_formation 0.127531 Name: coef, dtype...",...,"entree_formation 0.003796 Name: std err, dt...","entree_formation 0.151302 Name: coef, dtype...","entree_formation 0.15858 Name: 97.5 %, dtyp...","entree_formation 0.144024 Name: 2.5 %, dtyp...","entree_formation 0.003714 Name: std err, dt...","entree_formation 0.143234 Name: coef, dtype...","entree_formation 0.150238 Name: 97.5 %, dty...","entree_formation 0.136231 Name: 2.5 %, dtyp...","entree_formation 0.003573 Name: std err, dt...",62002
4,2017-05-01,"entree_formation 0.01975 Name: coef, dtype:...","entree_formation 0.025795 Name: 97.5 %, dty...","entree_formation 0.013704 Name: 2.5 %, dtyp...","entree_formation 0.003085 Name: std err, dt...","entree_formation 0.066355 Name: coef, dtype...","entree_formation 0.07364 Name: 97.5 %, dtyp...","entree_formation 0.059069 Name: 2.5 %, dtyp...","entree_formation 0.003717 Name: std err, dt...","entree_formation 0.113018 Name: coef, dtype...",...,"entree_formation 0.003969 Name: std err, dt...","entree_formation 0.147727 Name: coef, dtype...","entree_formation 0.155347 Name: 97.5 %, dty...","entree_formation 0.140107 Name: 2.5 %, dtyp...","entree_formation 0.003888 Name: std err, dt...","entree_formation 0.143491 Name: coef, dtype...","entree_formation 0.15084 Name: 97.5 %, dtyp...","entree_formation 0.136141 Name: 2.5 %, dtyp...","entree_formation 0.00375 Name: std err, dty...",57282
5,2017-06-01,"entree_formation 0.025479 Name: coef, dtype...","entree_formation 0.031657 Name: 97.5 %, dty...","entree_formation 0.019301 Name: 2.5 %, dtyp...","entree_formation 0.003152 Name: std err, dt...","entree_formation 0.075632 Name: coef, dtype...","entree_formation 0.083309 Name: 97.5 %, dty...","entree_formation 0.067954 Name: 2.5 %, dtyp...","entree_formation 0.003917 Name: std err, dt...","entree_formation 0.124828 Name: coef, dtype...",...,"entree_formation 0.004214 Name: std err, dt...","entree_formation 0.141138 Name: coef, dtype...","entree_formation 0.149243 Name: 97.5 %, dty...","entree_formation 0.133033 Name: 2.5 %, dtyp...","entree_formation 0.004135 Name: std err, dt...","entree_formation 0.136294 Name: coef, dtype...","entree_formation 0.144154 Name: 97.5 %, dty...","entree_formation 0.128434 Name: 2.5 %, dtyp...","entree_formation 0.00401 Name: std err, dty...",51072
6,2017-07-01,"entree_formation 0.096848 Name: coef, dtype...","entree_formation 0.107555 Name: 97.5 %, dty...","entree_formation 0.086141 Name: 2.5 %, dtyp...","entree_formation 0.005463 Name: std err, dt...","entree_formation 0.166201 Name: coef, dtype...","entree_formation 0.178626 Name: 97.5 %, dty...","entree_formation 0.153776 Name: 2.5 %, dtyp...","entree_formation 0.006339 Name: std err, dt...","entree_formation 0.184573 Name: coef, dtype...",...,"entree_formation 0.006459 Name: std err, dt...","entree_formation 0.177018 Name: coef, dtype...","entree_formation 0.189256 Name: 97.5 %, dty...","entree_formation 0.164779 Name: 2.5 %, dtyp...","entree_formation 0.006244 Name: std err, dt...","entree_formation 0.163616 Name: coef, dtype...","entree_formation 0.175392 Name: 97.5 %, dty...","entree_formation 0.151839 Name: 2.5 %, dtyp...","entree_formation 0.006009 Name: std err, dt...",21340
7,2017-08-01,"entree_formation 0.028548 Name: coef, dtype...","entree_formation 0.038797 Name: 97.5 %, dty...","entree_formation 0.018299 Name: 2.5 %, dtyp...","entree_formation 0.005229 Name: std err, dt...","entree_formation 0.05587 Name: coef, dtype:...","entree_formation 0.067805 Name: 97.5 %, dty...","entree_formation 0.043935 Name: 2.5 %, dtyp...","entree_formation 0.006089 Name: std err, dt...","entree_formation 0.093735 Name: coef, dtype...",...,"entree_formation 0.006404 Name: std err, dt...","entree_formation 0.12305 Name: coef, dtype:...","entree_formation 0.135223 Name: 97.5 %, dty...","entree_formation 0.110878 Name: 2.5 %, dtyp...","entree_formation 0.006211 Name: std err, dt...","entree_formation 0.116544 Name: coef, dtype...","entree_formation 0.128357 Name: 97.5 %, dty...","entree_formation 0.10473 Name: 2.5 %, dtype...","entree_formation 0.006027 Name: std err, dt...",22712
8,2017-09-01,"entree_formation -0.072015 Name: coef, dtype...","entree_formation -0.068205 Name: 97.5 %, dty...","entree_formation -0.075826 Name: 2.5 %, dtyp...","entree_formation 0.001944 Name: std err, dt...","entree_formation -0.075482 Name: coef, dtype...","entree_formation -0.070881 Name: 97.5 %, dty...","entree_formation -0.080083 Name: 2.5 %, dtyp...","entree_formation 0.002347 Name: std err, dt...","entree_formation -0.015123 Name: coef, dtype...",...,"entree_formation 0.002738 Name: std err, dt...","entree_formation 0.04937 Name: coef, dtype:...","entree_formation 0.054642 Name: 97.5 %, dty...","entree_formation 0.044097 Name: 2.5 %, dtyp...","entree_formation 0.00269 Name: std err, dty...","entree_formation 0.061669 Name: coef, dtype...","entree_formation 0.066807 Name: 97.5 %, dty...","entree_formation 0.056531 Name: 2.5 %, dtyp...","entree_formation 0.002622 Name: std err, dt...",127118
9,2017-10-01,"entree_formation -0.014386 Name: coef, dtype...","entree_formation -0.010085 Name: 97.5 %, dty...","entree_formation -0.018687 Name: 2.5 %, dtyp...","entree_formation 0.002194 Name: std err, dt...","entree_formation 0.021315 Name: coef, dtype...","entree_formation 0.026725 Name: 97.5 %, dty...","entree_formation 0.015905 Name: 2.5 %, dtyp...","entree_formation 0.00276 Name: std err, dty...","entree_formation 0.106095 Name: coef, dtype...",...,"entree_formation 0.003038 Name: std err, dt...","entree_formation 0.136677 Name: coef, dtype...","entree_formation 0.142481 Name: 97.5 %, dty...","entree_formation 0.130872 Name: 2.5 %, dtyp...","entree_formation 0.002962 Name: std err, dt...","entree_formation 0.136242 Name: coef, dtype...","entree_formation 0.141903 Name: 97.5 %, dty...","entree_formation 0.130581 Name: 2.5 %, dtyp...","entree_formation 0.002889 Name: std err, dt...",98564
10,2017-11-01,"entree_formation -0.004517 Name: coef, dtype...","entree_formation 0.00005 Name: 97.5 %, dtyp...","entree_formation -0.009084 Name: 2.5 %, dtyp...","entree_formation 0.00233 Name: std err, dty...","entree_formation 0.043803 Name: coef, dtype...","entree_formation 0.049518 Name: 97.5 %, dty...","entree_formation 0.038089 Name: 2.5 %, dtyp...","entree_formation 0.002916 Name: std err, dt...","entree_formation 0.119425 Name: coef, dtype...",...,"entree_formation 0.003181 Name: std err, dt...","entree_formation 0.14498 Name: coef, dtype:...","entree_formation 0.151051 Name: 97.5 %, dty...","entree_formation 0.13891 Name: 2.5 %, dtype...","entree_formation 0.003097 Name: std err, dt...","entree_formation 0.140197 Name: coef, dtype...","entree_formation 0.146133 Name: 97.5 %, dty...","entree_formation 0.134261 Name: 2.5 %, dtyp...","entree_formation 0.003029 Name: std err, dt...",89732
11,2017-12-01,"entree_formation -0.007736 Name: coef, dtype...","entree_formation -0.002243 Name: 97.5 %, dty...","entree_formation -0.01323 Name: 2.5 %, dtype...","entree_formation 0.002803 Name: std err, dt...","entree_formation 0.062523 Name: coef, dtype...","entree_formation 0.069541 Name: 97.5 %, dty...","entree_formation 0.055505 Name: 2.5 %, dtyp...","entree_formation 0.003581 Name: std err, dt...","entree_formation 0.134997 Name: coef, dtype...",...,"entree_formation 0.003824 Name: std err, dt...","entree_formation 0.156344 Name: coef, dtype...","entree_formation 0.163634 Name: 97.5 %, dty...","entree_formation 0.149053 Name: 2.5 %, dtyp...","entree_formation 0.00372 Name: std err, dty...","entree_formation 0.148588 Name: coef, dtype...","entree_formation 0.155726 Name: 97.5 %, dty...","entree_formation 0.141451 Name: 2.5 %, dtyp...","entree_formation 0.003642 Name: std err, dt...",61548
12,2018-01-01,"entree_formation -0.02481 Name: coef, dtype:...","entree_formation -0.019792 Name: 97.5 %, dty...","entree_formation -0.029829 Name: 2.5 %, dtyp...","entree_formation 0.002561 Name: std err, dt...","entree_formation 0.031447 Name: coef, dtype...","entree_formation 0.037812 Name: 97.5 %, dty...","entree_formation 0.025083 Name: 2.5 %, dtyp...","entree_formation 0.003247 Name: std err, dt...","entree_formation 0.08806 Name: coef, dtype:...",...,"entree_formation 0.003501 Name: std err, dt...","entree_formation 0.129778 Name: coef, dtype...","entree_formation 0.136475 Name: 97.5 %, dty...","entree_formation 0.123081 Name: 2.5 %, dtyp...","entree_formation 0.003417 Name: std err, dt...","entree_formation 0.129943 Name: coef, dtype...","entree_formation 0.136486 Name: 97.5 %, dty...","entree_formation 0.123399 Name: 2.5 %, dtyp...","entree_formation 0.003339 Name: std err, dt...",74768
13,2018-02-01,"entree_formation 0.009919 Name: coef, dtype...","entree_formation 0.015515 Name: 97.5 %, dty...","entree_formation 0.004322 Name: 2.5 %, dtyp...","entree_formation 0.002856 Name: std err, dt...","entree_formation 0.082491 Name: coef, dtype...","entree_formation 0.089469 Name: 97.5 %, dty...","entree_formation 0.075513 Name: 2.5 %, dtyp...","entree_formation 0.00356 Name: std err, dty...","entree_formation 0.129269 Name: coef, dtype...",...,"entree_formation 0.003737 Name: std err, dt...","entree_formation 0.147252 Name: coef, dtype...","entree_formation 0.154413 Name: 97.5 %, dty...","entree_formation 0.140092 Name: 2.5 %, dtyp...","entree_formation 0.003653 Name: std err, dt...","entree_formation 0.140085 Name: coef, dtype...","entree_formation 0.147072 Name: 97.5 %, dty...","entree_formation 0.133098 Name: 2.5 %, dtyp...","entree_formation 0.003565 Name: std err, dt...",64714
14,2018-03-01,"entree_formation 0.011858 Name: coef, dtype...","entree_formation 0.017443 Name: 97.5 %, dty...","entree_formation 0.006273 Name: 2.5 %, dtyp...","entree_formation 0.00285 Name: std err, dty...","entree_formation 0.085383 Name: coef, dtype...","entree_formation 0.092131 Name: 97.5 %, dty...","entree_formation 0.078636 Name: 2.5 %, dtyp...","entree_formation 0.003443 Name: std err, dt...","entree_formation 0.129295 Name: coef, dtype...",...,"entree_formation 0.003657 Name: std err, dt...","entree_formation 0.145706 Name: coef, dtype...","entree_formation 0.152726 Name: 97.5 %, dty...","entree_formation 0.138686 Name: 2.5 %, dtyp...","entree_formation 0.003582 Name: std err, dt...","entree_formation 0.139439 Name: coef, dtype...","entree_formation 0.146284 Name: 97.5 %, dty...","entree_formation 0.132593 Name: 2.5 %, dtyp...","entree_formation 0.003493 Name: std err, dt...",68112
15,2018-04-01,"entree_formation 0.007396 Name: coef, dtype...","entree_formation 0.013033 Name: 97.5 %, dty...","entree_formation 0.001759 Name: 2.5 %, dtyp...","entree_formation 0.002876 Name: std err, dt...","entree_formation 0.099026 Name: coef, dtype...","entree_formation 0.106003 Name: 97.5 %, dty...","entree_formation 0.092048 Name: 2.5 %, dtyp...","entree_formation 0.00356 Name: std err, dty...","entree_formation 0.140744 Name: coef, dtype...",...,"entree_formation 0.003704 Name: std err, dt...","entree_formation 0.148224 Name: coef, dtype...","entree_formation 0.155372 Name: 97.5 %, dty...","entree_formation 0.141076 Name: 2.5 %, dtyp...","entree_formation 0.003647 Name: std err, dt...","entree_formation 0.146456 Name: coef, dtype...","entree_formation 0.153403 Name: 97.5 %, dty...","entree_formation 0.139509 Name: 2.5 %, dtyp...","entree_formation 0.003545 Name: std err, dt...",65638
16,2018-05-01,"entree_formation 0.014098 Name: coef, dtype...","entree_formation 0.020472 Name: 97.5 %, dty...","entree_formation 0.007724 Name: 2.5 %, dtyp...","entree_formation 0.003252 Name: std err, dt...","entree_formation 0.071035 Name: coef, dtype...","entree_formation 0.078762 Name: 97.5 %, dty...","entree_formation 0.063308 Name: 2.5 %, dtyp...","entree_formation 0.003943 Name: std err, dt...","entree_formation 0.120764 Name: coef, dtype...",...,"entree_formation 0.004186 Name: std err, dt...","entree_formation 0.137388 Name: coef, dtype...","entree_formation 0.14552 Name: 97.5 %, dtyp...","entree_formation 0.129256 Name: 2.5 %, dtyp...","entree_formation 0.004149 Name: std err, dt...","entree_formation 0.134217 Name: coef, dtype...","entree_formation 0.142104 Name: 97.5 %, dty...","entree_formation 0.126329 Name: 2.5 %, dtyp...","entree_formation 0.004024 Name: std err, dt...",51722
17,2018-06-01,"entree_formation 0.02698 Name: coef, dtype:...","entree_formation 0.033601 Name: 97.5 %, dty...","entree_formation 0.02036 Name: 2.5 %, dtype...","entree_formation 0.003378 Name: std err, dt...","entree_formation 0.089035 Name: coef, dtype...","entree_formation 0.097205 Name: 97.5 %, dty...","entree_formation 0.080865 Name: 2.5 %, dtyp...","entree_formation 0.004168 Name: std err, dt...","entree_formation 0.140475 Name: coef, dtype...",...,"entree_formation 0.004354 Name: std err, dt...","entree_formation 0.157917 Name: coef, dtype...","entree_formation 0.166415 Name: 97.5 %, dty...","entree_formation 0.14942 Name: 2.5 %, dtype...","entree_formation 0.004335 Name: std err, dt...","entree_formation 0.148752 Name: coef, dtype...","entree_formation 0.156955 Name: 97.5 %, dty...","entree_formation 0.14055 Name: 2.5 %, dtype...","entree_formation 0.004185 Name: std err, dt...",47566
18,2018-07-01,"entree_formation 0.048993 Name: coef, dtype...","entree_formation 0.058452 Name: 97.5 %, dty...","entree_formation 0.039533 Name: 2.5 %, dtyp...","entree_formation 0.004826 Name: std err, dt...","entree_formation 0.118417 Name: coef, dtype...","entree_formation 0.129287 Name: 97.5 %, dty...","entree_formation 0.107548 Name: 2.5 %, dtyp...","entree_formation 0.005546 Name: std err, dt...","entree_formation 0.151128 Name: coef, dtype...",...,"entree_formation 0.005776 Name: std err, dt...","entree_formation 0.156184 Name: coef, dtype...","entree_formation 0.167458 Name: 97.5 %, dty...","entree_formation 0.144911 Name: 2.5 %, dtyp...","entree_formation 0.005752 Name: std err, dt...","entree_formation 0.150524 Name: coef, dtype...","entree_formation 0.161375 Name: 97.5 %, dty...","entree_formation 0.139674 Name: 2.5 %, dtyp...","entree_formation 0.005536 Name: std err, dt...",27128
19,2018-08-01,"entree_formation -0.014041 Name: coef, dtype...","entree_formation -0.004912 Name: 97.5 %, dty...","entree_formation -0.02317 Name: 2.5 %, dtype...","entree_formation 0.004658 Name: std err, dt...","entree_formation 0.016652 Name: coef, dtype...","entree_formation 0.027664 Name: 97.5 %, dty...","entree_formation 0.005639 Name: 2.5 %, dtyp...","entree_formation 0.005619 Name: std err, dt...","entree_formation 0.07087 Name: coef, dtype:...",...,"entree_formation 0.006121 Name: std err, dt...","entree_formation 0.106704 Name: coef, dtype...","entree_formation 0.118653 Name: 97.5 %, dty...","entree_formation 0.094754 Name: 2.5 %, dtyp...","entree_formation 0.006097 Name: std err, dt...","entree_formation 0.112746 Name: coef, dtype...","entree_formation 0.124212 Name: 97.5 %, dty...","entree_formation 0.10128 Name: 2.5 %, dtype...","entree_formation 0.00585 Name: std err, dty...",25220
20,2018-09-01,"entree_formation -0.088468 Name: coef, dtype...","entree_formation -0.084797 Name: 97.5 %, dty...","entree_formation -0.09214 Name: 2.5 %, dtype...","entree_formation 0.001873 Name: std err, dt...","entree_formation -0.08948 Name: coef, dtype:...","entree_formation -0.08501 Name: 97.5 %, dtyp...","entree_formation -0.09395 Name: 2.5 %, dtype...","entree_formation 0.002281 Name: std err, dt...","entree_formation -0.023084 Name: coef, dtype...",...,"entree_formation 0.002706 Name: std err, dt...","entree_formation 0.027683 Name: coef, dtype...","entree_formation 0.032982 Name: 97.5 %, dty...","entree_formation 0.022384 Name: 2.5 %, dtyp...","entree_formation 0.002704 Name: std err, dt...","entree_formation 0.058763 Name: coef, dtype...","entree_formation 0.063869 Name: 97.5 %, dty...","entree_formation 0.053657 Name: 2.5 %, dtyp...","entree_formation 0.002605 Name: std err, dt...",129940

In [30]:
df_avg=df_avg.astype(float)

In [31]:
df_avg["match_coef"]=[0.6,5.7,8.8,9.2]
df_avg["match_std"]=[0.27,0.29,0.29,0.29]

In [32]:
np.round(df_avg,2)

   temps  irm_coef  irm_upp  irm_low  irm_std  match_coef  match_std
0    6.0      3.16     3.81     2.51     0.33         0.6       0.27
1   12.0      8.48     9.18     7.77     0.36         5.7       0.29
2   18.0     11.81    12.52    11.09     0.37         8.8       0.29
3   24.0     11.93    12.63    11.23     0.36         9.2       0.29